.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# Assets
/assets/uploaded_attachment/birth_certificate/*
/assets/uploaded_attachment/certification_year_level/*
/assets/uploaded_attachment/copy_grade/*
/assets/uploaded_attachment/excuse_letter/*
/assets/uploaded_attachment/form_five/*
/assets/uploaded_attachment/good_moral/*
/assets/uploaded_attachment/letter_recommendation/*
/assets/uploaded_attachment/personal_photo/*
/assets/uploaded_attachment/tor/*

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode

# Vendor
/vendor/

# htaccess
.htaccess

# Config
application/config/database.php
assets/scan_me_qr/scan_me.png

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
