@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Base font size */
html {
    font-size: 62.5%; /* 1rem = 10px (10px/16px = 62.5%) */
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%; /* 1rem = 9px (9px/16px = 56.25%) */
    }
}

@media (max-width: 900px) {
    html {
        font-size: 50%; /* 1rem = 8px (8px/16px = 50%) */
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 75%; /* 1rem = 12px (12px/16px = 75%) */
    }
}

html, body {
    height: 100%;
    width: 100%;
	font-family: 'Lato', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote, dl, dd, hgroup, figure, p, pre {
    margin: 0;
}

textarea {
    resize: none;
}

/* CSS Variables  */
:root {
    --primary-black: #000000;
    --primary-gold: #C59A49;
    --secondary-white: #ffffff;
    --secondary-light: #F5F5F5;
    --accent-1: #D4AF37;
    --accent-2: #333333;
    --accent-3: #F8F4E3;
}

#auth{

}

.auth__header{
	background-color:var(--primary-black)
}

/* Navbar */
.navbar{
	display:flex;
	background-color:var(--primary-black)
}

.navbar__container{
	display:flex;
	align-items:center;
	justify-content:between;
}

.navbar__logo{
	width:64px;
	height:64px;
	border-radius:100%;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	margin-right:28px;
}

/* Auth Page */

#auth-page__cta__signupForm{
	margin-top:20px;
}
.auth-page__container{
	position:relative;
	min-height: 100vh;
    height: auto; 
	overflow:hidden;
}

.auth-page__bgImg{
	position:absolute;
	z-index:1;
	width:100%;
	object-fit:cover;
}

.auth-page__overlay{
	background:var(--primary-black);
	position:absolute;
	opacity:0.5;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:5;
}


.auth-page__content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	z-index:100;
	position:relative;
	padding:48px 0;
	width:100%;
}

.auth-page__hero{
	padding:8px 32px;

}
.auth-page__hero__title{
	font-size:2rem;
	font-weight:600;
	color:var(--secondary-light)
}

.auth-page__hero__sub{
	font-size:4rem;
	font-weight:700;
	color:var(--secondary-light);
	margin-top:8px;
	
}


.auth-page__cta{
	padding:8px 32px;
	display:flex;
	justify-content:center;
}
.auth-page__cta__card{
	background-color:var(--secondary-white);
	border-radius:6px;
	padding:32px;
	width: 450px;
}

.auth-page__cta__card__signup-title{
	font-size: 2.5rem;
	font-weight:600;
	color:var(--primary-black);
}
.auth-page__cta__card__signup-sub{
	margin-top:8px;
	color: var(--accent-2);
    font-size: 1.2rem;
}


.signup__label,.login__label{
	font-size:1.2rem;
}

.signup__input,.login__input{
	font-size:1.1rem;
	padding:8px 12px;
}

.reseller_signup__btn,.reseller_login__btn,.reseller_signup__next-btn-1,.reseller_signup__next-btn-2,.check-status__btn{
	color:var(--secondary-white);
	background-color:var(--primary-black);
	font-size:1.4rem;
	display:block;
	padding:8px 0;
	font-weight:600;
	border-radius:8px;
	width:100%;
	margin-top:16px;
	transition: all 0.3s;
}
.reseller_signup__btn:hover,.reseller_login__btn:hover,.reseller_signup__next-btn-1:hover,.reseller_signup__next-btn-2:hover,.check-status__btn:hover{
	opacity:0.8;
}

.reseller_signup__back-btn-2{
	color:var(--primary-black);
	background-color:var(--secondary-white);
	border:1px solid var(--primary-black);
	font-size:1.4rem;
	display:block;
	padding:8px 0;
	font-weight:600;
	border-radius:8px;
	width:100%;
	margin-top:16px;
	transition: all 0.3s;
}
.reseller_signup__back-btn-2:hover{
	opacity:0.6;
}

.signup__account,.login__account {
    font-size: 1.2rem;
    color: var(--accent-2); 
    margin-top: 8px; 
	text-align:center;
}

.signup__link,.login__link {
    color: var(--primary-black); 
    font-weight: 600; 
    cursor: pointer; 
    transition: color 0.2s; 
}

.signup__link:hover,.login__link:hover {
    color: var(--accent-1); 
    text-decoration: underline; 
}

/* Hide */
.auth__card--hidden{
	display:none;
	visibility:hidden;
}

.auth-page__cta__indicator-container{
	margin-top:20px;
}

.auth-page__cta__indicator-title{
	font-weight:600;
	font-size:1.2rem;
	color:var(--accent-2);
}
.auth-page__cta__indicator{
	font-size:1.2rem;
	font-weight:600;
}


.signUp__form--hidden{
	display:none;
	visibility:hidden;
}

.auth-page__cta__card__signup-status{
	font-weight:600;
	color:var(--primary-gold);
	font-size:1.2rem;
	text-decoration:underline;
	cursor:pointer;
}

.check-status__modal-content{
	padding: 32px;
}
.check-status__title{
	color: var(--primary-black);
    font-size: 2.5rem;
	font-weight:600;
}
.check-status__p{
	color: var(--accent-2); 
	font-size:1.2rem;
	margin-top:8px;
}
.ageConfirmation__error-message{
	color:red;
}
.ageConfirmation__hidden{
	display:none;
	visibility:hidden;
}
