/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  /* margin-top: 12px; */
}

.app-brand-logo.demo img {
  width: 40px;
  border: 3px solid #fff;
  border-radius: 100px;
}

.app-brand-text.demo {
  margin-top: 2px;
  font-size: 1.3rem;
  letter-spacing: -0.10px;
}

.app-brand-divider {
  height: 2px;
  background-color: #fff;
  margin-bottom: 10px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}

/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks>* {
  display: block !important;
}

.demo-inline-spacing>* {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing>* {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg>* {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl>* {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfe6e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2bec3;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdc3c7;
}

.loading-screen {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Make sure it appears on top of other elements */
}

table thead {
  background-color: #f5f5f7;
	color: #3b4056 !important;
	padding:18px 10px !important;
	font-size:12px;
	text-transform:uppercase;
	font-weight:500 
	
}

table th {
	color: #3b4056 !important;
	padding:15px 0px !important;
	font-size:12px;
	text-transform:uppercase;
	font-weight:500;
}


/* table th:first-child {
  border-radius: 8px 0 0 0;
}

table th:last-child {
  border-radius: 0 8px 0 0;
} */

table td {
  padding:10px 0px !important;
  font-size: 12px;
  vertical-align: middle;
}

.dataTables_length select {
  width: 60px !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background: linear-gradient(to right, #434875, #b18647);
}

.table tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6 !important;
}

.dataTables_info {
  font-size: 13px;
}

.swal2-container {
  z-index: 20000 !important;
}

/*--------------------------------------------------------------
    # Checkbox slider
    --------------------------------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #434875;
}

input:focus+.slider {
  box-shadow: 0 0 1px #434875;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3px;
}

.slider.round:before {
  border-radius: 10%;
}

.ellipsis {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-cursor,
.box-input {
  cursor: pointer;
  color: #0984e3;
}

.link-cursor:hover {
  text-decoration: underline;
}

.dropdown-select {
  border: none;
  outline: none;
  color: #7f8c8d;
  font-size: 12px;
}

.sequence_no {
  font-size: 10px;
  font-weight: 600;
  color: #d63031; 
}

.link-download {
  color:#d63031;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
}

.link-download:hover {
  text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.open_link {
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  color: red;
}
.open_link:hover {
  text-decoration: underline;
}

.header-title {
  background: linear-gradient(to right, #434875, #b18647);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.card-header {
  border-bottom: 1px solid #dee2e6 !important;
}

.offcanvas-header {
  background: linear-gradient(to right, #434875, #b18647);
  border-bottom: 2px solid #434875 !important;
}

.card-header h5 {
  color: #fff;
}

.img-profile {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: 2px solid rgba(0,0,0,.125);
}



.img-bio {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  border: 2px solid rgba(0,0,0,.125);
}

@keyframes round {

  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1.4);
  }
}

.overview-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 1.25rem;
  color: #434875;
  box-shadow: 0 9px 20px rgba(46, 35, 94, .07);
}

.overview-card__no-bg {
  padding: 1.25rem 0 1.25rem 0;
}

.overview-card__title {
  color: #434875;
  letter-spacing: .025em;
  font-weight: 600;
  font-size: 16px;
}

.custom-card {
  background: #f1f5f9;
  padding: 1rem;
  border-radius: .5rem;
  height: 100%;

}

.dashboard__img {
  width: 3rem;
}

.dashboard__img-container {
  padding: .4rem;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dashboard__img-container--border1 {
  border: 2px solid #b18647;
}

.dashboard__img-container--border2 {
  border: 2px solid #4caf50;

}

.dashboard__img-container--border3 {
  border: 2px solid #3A96DD;
}

.dashboard__img-container--border4 {
  border: 2px solid #f44336;

}

.custom-card__title {
  font-weight: 900;
  font-size: 1.6rem;
  color: #212529;
}

.error-text {
  color: #f44336
}

.success-text {
  color: #4caf50;

}

.custom-card__sub-text {
  color: rgba(82, 82, 108, .8);
  line-height: 1.125rem;
  font-weight: bold;
  font-size: 14px;
}

.scholarship-req__avatar {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
}

.scholarship-req__date {
  font-size: 16px;
  margin-top: 18px;
  color: rgba(82, 82, 108, .8);

}

.scholarship-req__name {
  font-size: 16px;
  font-weight: bold;

}

.scholarship-req__time {
  font-size: 20px;
  font-weight: bold;
}

.scholarship-req__view {
  background: rgba(82, 82, 108, .8);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
}

.scholarship-req__icon {
  font-size: 12px;
}

.scholarship-req__approve {
  background: rgba(82, 82, 108, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  padding: 14px;
  cursor: pointer;
  background: rgba(76, 175, 80, .2);
  color: #4caf50;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.scholarship-req__denied {
  background: rgba(82, 82, 108, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  padding: 14px;
  cursor: pointer;
  background: rgba(244, 67, 54, .2);
  color: #f44336;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.scholarship-req__view-all {
  color: #434875;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.scholarship-req__view-all:hover {
  opacity: 0.6;
}

.upcoming-sched__create-btn,.events__create-btn {
  border-radius: 8px;
  padding: 8px 16px;
  background: rgba(82, 82, 108, .1);
  color: #434875;
  font-weight: bold;
  border: none;
  font-size: 12px;
}

/* Sched */
.upcoming-sched__date-container-1 {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: .5rem;
  padding: 14px;
  border-left: 4px solid #434875;
}

.upcoming-sched__date-container-2 {
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: .5rem;
  padding: 14px;
  border-left: 4px solid #b18647;
}

.upcoming-sched__date-container-3 {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: .5rem;
	padding: 14px;
	border-left: 4px solid #D32F2F;

}

.upcoming-sched__date-container-4 {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	 border-radius: .5rem;
	 padding: 14px;
	 border-left: 4px solid #4CAF50;
 
 }

.upcoming-sched__weekday {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.upcoming-sched__date {
  font-size: 14px;
}

.upcoming-sched__time {
  font-size: 14px;
}

.custom-text-success {
  color: #4caf50;
}

.custom-test-primary {
  color: #434875;
}

.custom-text-danger {
  color: #f44336;
}

.custom-date-input {
  position: relative;
}

.custom-date-input input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
}

.bg-polygon {
  position: relative;
  width: 52px;
  height: 52px;
  clip-path: polygon(40% 7.67949%, 43.1596% 6.20615%, 46.52704% 5.30384%, 50% 5%, 53.47296% 5.30384%, 56.8404% 6.20615%, 60% 7.67949%, 81.65064% 20.17949%, 84.50639% 22.17911%, 86.97152% 24.64425%, 88.97114% 27.5%, 90.44449% 30.6596%, 91.34679% 34.02704%, 91.65064% 37.5%, 91.65064% 62.5%, 91.34679% 65.97296%, 90.44449% 69.3404%, 88.97114% 72.5%, 86.97152% 75.35575%, 84.50639% 77.82089%, 81.65064% 79.82051%, 60% 92.32051%, 56.8404% 93.79385%, 53.47296% 94.69616%, 50% 95%, 46.52704% 94.69616%, 43.1596% 93.79385%, 40% 92.32051%, 18.34936% 79.82051%, 15.49361% 77.82089%, 13.02848% 75.35575%, 11.02886% 72.5%, 9.55551% 69.3404%, 8.65321% 65.97296%, 8.34936% 62.5%, 8.34936% 37.5%, 8.65321% 34.02704%, 9.55551% 30.6596%, 11.02886% 27.5%, 13.02848% 24.64425%, 15.49361% 22.17911%, 18.34936% 20.17949%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  border-radius: 15px;
  /* height: 100%; */
}

.li-recent-system-updates {
  position: relative;
  padding-bottom: 20px;
}

.li-recent-system-updates::before {
  position: absolute;
  content: "";
  border: 1px dashed #52526c;
  opacity: 0.3;
  top: 12px;
  left: 2px;
  height: calc(100% - 12px);

}

.activity-dot {
  min-width: 6px;
  height: 6px;
  border-radius: 100%;
  position: relative;
  z-index: 2;
  margin-top: 8px;
  animation: round 1.3s ease-in-out infinite;

}

.recent-activity__date {
  background: rgba(82, 82, 108, .1);
  border-radius: 8px;
  padding: 6px 16px;
  display: inline-block;
}

@keyframes round {

  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1.4);
  }
}

.recent-activity__badge--success {
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  background: rgba(129, 199, 132, .2);
  color: #388e3c;
  border-radius: 6px;
}

.recent-activity__badge--danger {
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  background: rgba(239, 83, 80, .2);
  color: #d32f2f;
  border-radius: 6px;
}

.recent-activity__badge--warning {
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  background: rgba(255, 235, 59, .2);
  color: #fbc02d;
  border-radius: 6px;
}

.overview-card__icon {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.dataTables_filter > label > input{
	border: 1px solid #cfd0d6;
	border-radius: .375rem;
	padding: 6px 16px;
	font-size: 14px;
}
.dataTables_filter > label > input:focus{
	border: 1px solid #52526c;

}

.dataTables_length{
	transform:translateY(8px);
}


@media (max-width: 768px) {
	.dataTables_filter {
		margin:10px 0;
	}
	.dataTables_length{
		transform:translateY(0);
	}

	.img-profile {
		border-radius: 100%;
		min-height: 50px;
		min-width: 50px;
		border: 2px solid rgba(0,0,0,.125);
	}
	
}






