@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Base font size */
html {
    font-size: 62.5%; /* 1rem = 10px (10px/16px = 62.5%) */
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%; /* 1rem = 9px (9px/16px = 56.25%) */
    }
}

@media (max-width: 900px) {
    html {
        font-size: 50%; /* 1rem = 8px (8px/16px = 50%) */
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 75%; /* 1rem = 12px (12px/16px = 75%) */
    }
}

html, body {
    height: 100%;
    width: 100%;
	font-family: 'Lato', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role='list'], ol[role='list'] {
    list-style: none;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote, dl, dd, hgroup, figure, p, pre {
    margin: 0;
}

textarea {
    resize: none;
}

/* CSS Variables  */
:root {
    --primary-black: #000000;
    --primary-gold: #C59A49;
    --secondary-white: #ffffff;
    --secondary-light: #F5F5F5;
    --accent-1: #D4AF37;
    --accent-2: #333333;
    --accent-3: #F8F4E3;
}

/* Sign up */
.signup__title,.login__title {
    color: var(--primary-black);
    font-size: 2.5rem;
	font-weight:600;
}

.signup__p,.login__p {
    color: var(--accent-2); 
	font-size:1.2rem;
}

.signup__label,.login__label{
	font-size:1.2rem;
}

.signup__input,.login__input,.verify__button{
	font-size:1.1rem;
	padding:8px 12px;
}

.signup__button,.login__button,.verify__button{
	color:var(--secondary-white);
	background-color:var(--primary-black);
	font-size:1.4rem;
	display:block;
	padding:8px 0;
	font-weight:600;
	border-radius:8px;
	width:100%;
	margin-top:16px;
	transition: all 0.3s;
}
.signup__button:hover,.login__button:hover,.verify__button:hover{
	opacity:0.8;
}

.signup__account,.login__account {
    font-size: 1.2rem;
    color: var(--accent-2); 
    margin-top: 8px; 
	text-align:center;
}

.signup__link,.login__link {
    color: var(--primary-black); 
    font-weight: 600; 
    cursor: pointer; 
    transition: color 0.2s; 
}

.signup__link:hover,.login__link:hover {
    color: var(--accent-1); 
    text-decoration: underline; 
}

.signup_modal-content,.login_modal-content{
	padding: 32px;
}


/* Login */

.login__greeting{
	font-size:1.4rem;
    color: var(--accent-2); 
	margin-bottom:8px;

}


/* Home */
#home{
	height:100vh;
	background-color:var(--primary-black);
	position:relative;
	overflow:hidden;
}

/* Navbar */
.navbar{
	display:flex;

}

.navbar__container{
	display:flex;
	align-items:center;
	justify-content:between;
}
.navbar__right{
	display:flex;
	align-items:center;
}

.navbar__logo{
	width:64px;
	height:64px;
	border-radius:100%;
	box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
	margin-right:28px;
}

.navbar__items{
	display:flex;
	list-style:none;
	gap:40px;
	font-size:1.3rem;
	color:var(--secondary-white);
	margin:0;
}

.navbar__item > a {
    margin: 0;
    cursor: pointer;
	transition:color 0.2s ease;
}

.navbar__item > a:hover {
    color: var(--primary-gold);
}

.nav-active{
    color: var(--primary-gold);
	font-weight:600;
}

.navbar__button__shop{
	padding:8px 24px;
	border:1px solid var(--primary-black);
	font-size:1.2rem;
	background-color:var(--secondary-white);
	border-radius:24px;
	transition:all 0.3s ease;
	cursor:pointer;

}

.navbar__button__reseller{
	padding:8px 24px;
	border:1px solid var(--secondary-white);
	font-size:1.2rem;
	color:var(--secondary-white);
	border-radius:24px;
	transition:all 0.3s ease;
	cursor:pointer;

}

.navbar__button__reseller:hover{
	background-color:var(--primary-gold);
	border:1px solid var(--primary-black);
}

/* Home Section */
.home-section{
	display: flex;
    justify-content: center;
    align-items: center;   
	width: 100%;
	height:85%;


}
.home-section__text-top{
	color:var(--secondary-white);
	font-family: "Playfair Display", serif;
	font-size:1.6rem;
	font-weight:600;
	margin-bottom:4px;
	letter-spacing:2px;


}
.home-section__title-1,.home-section__title-2{
	font-family: "Playfair Display", serif;
	font-size:5.8rem;
	font-weight:bold;
}
.home-section__title-1{
	color:var(--secondary-white);
	
}
.home-section__title-2{
	color:var(--primary-gold);
}
.home-section__p{
	color:var(--secondary-light);
	font-size:1.4rem;
	margin-top:16px;
	line-height:1.7;
	width:82%;
}
.home-section__button{
	background-color:var(--primary-gold);
	color:var(--secondary-white);
	font-size:1.4rem;
	border-radius:24px;
	font-weight:600;
	padding:12px 24px;
	margin-top:32px;
	cursor:pointer;
}
.home-section__img-wrapper {
    position: relative;
}

.home-section__img-wrapper::before {
    content: '';
    height: 480px;
	width:320px;
    position: absolute;
    top: 0px;
    left: 15px;
	transform:translateY(-15px);
	background-color:var(--secondary-white);
	z-index:9;
}

.home-section__img-wrapper::after {
    content: '';
    height: 480px;
	width:320px;
    position: absolute;
    top: 0px;
    left: 30px;
	transform:translateY(-30px);
	background-color:var(--primary-gold);
	z-index:8;
}

.home-section__img {
	position:relative;
    height: 480px;
    width: auto; 
	z-index:10;
}

.home-section__sparkling-1{
	position:absolute;
	top:-64px;
	left:80px;
	width:32px;
	z-index:20;
}
.home-section__sparkling-2{
	position:absolute;
	bottom:-64px;
	right:80px;
	width:32px;
	z-index:20;
}
.home-section__ellipse-1{
	position:absolute;
	top:-180px;
	left:-420px;
	
}
.home-section__ellipse-2{
	position:absolute;
	bottom:-400px;
	right:-330px;
}


/* about-us */

#about-us{
	background-color:var(--secondary-white);
	padding:72px 0;

}
.about-us__page-title{
	font-size:1.8rem;
	text-transform:uppercase;
	color:var(--primary-gold);
	font-weight:600;
}
.about-us__title{
	font-family: "Playfair Display", serif;
	font-size:3.4rem;
	font-weight:bold;
	margin-top:8px;

}
.about-us__p{
	font-size:1.6rem;
	line-height:1.7;
	color:var(--accent-2);
}

#mission-vision{
	background-color:var(--accent-3);
	padding:72px 0;
}
.mission-vision__card{
	background-color:var(--secondary-white);
	border-radius:8px;
	box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
	padding:24px;
}
.mission-vision__title{
	font-family: "Playfair Display", serif;
	font-size:3.2rem;
	font-weight:bold;
	text-align:center;
	color:var(--accent-1);
}
.mission-vision__p{
	font-size:1.6rem;
	margin-top:16px;
	text-align:center;
	line-height:1.7;
	color:var(--accent-2);
}
/* Product */
#products{
	background-color:var(--secondary-white);
	padding:72px 0;
}
.products__header{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	gap:8px;
}
.products__title{
	font-size:2.8rem;
	font-weight:bold;
	color:var(--accent-2);
}
.products__p{
	font-size:1.6rem;
	color:var(--accent-2);
}
.products__wrapper{
	background-color: var(--secondary-light);
    border-radius: 10px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:100%;
	width:450px;
	height:450px;
	padding:72px;
}
.products__row{
	margin-top:72px;

}
.products__product-img-1{

}
.products__product__title{
	font-family: "Playfair Display", serif;
	font-size:2.8rem;
	font-weight:600;
	color:var(--accent-2);
}
.products__product_p{
	font-size:1.6rem;
	color:var(--accent-2);
	line-height:1.7;

}
.products__btn__container{
	margin-top:32px;
	display:flex;
	align-items:center;
	gap:14px;
	
}
.products__btn__buy-now{
	background-color:var(--primary-black);
	color:var(--secondary-white);
	font-size:1.6rem;
	border-radius:24px;
	padding:12px 32px;
	cursor:pointer;
}
.products__btn__price{
	font-size:18px;
	font-weight:bold;
}
#benefits-of-collastem {
    background-color: var(--secondary-light);
    padding: 72px 0;
}

.benefits-of-collastem__header {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.benefits-of-collastem__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--accent-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #c59a49, #8e762e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
}

.benefits-of-collastem__title::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 80px;
    height: 3px;
    background: var(--primary-gold);
    transform: translateX(-50%);
    border-radius: 10px;
}

.benefits-of-collastem__title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 100px;
    height: 3px;
    background: var(--primary-gold);
    transform: translateX(-50%);
    border-radius: 10px;
}


.benefits-of-collastem__title {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.benefits-of-collastem__title.in-view {
    opacity: 1;
    transform: translateY(0);
}

.benefits-of-collastem__row {
    margin-top: 40px;
}

.benefits-of-collastem__card {
    background-color: var(--secondary-white);
    padding: 32px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;
    position: relative;
}


.benefits-of-collastem__card__title {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    font-weight: 600;
    background: linear-gradient(45deg, #c59a49, #8e762e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    display: inline-block;
}

.benefits-of-collastem__card__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--accent-2);
    bottom: -20px;
    left: 0;
    right: 0;
}


.benefits-of-collastem__card__p {
    margin-top: 32px;
    font-size: 1.6rem;
    text-align: center;
    color: var(--accent-2);
    line-height: 1.7;
}

.benefits-of-collastem__card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.benefits-of-collastem__card.in-view {
    opacity: 1;
    transform: translateY(0);
}

/* Media */
#media {
    background-color: var(--secondary-white);
    padding: 72px 0;
}

.media__title{
	font-size:2.8rem;
	font-weight:bold;
	color:var(--accent-2);
	text-align:center;
}
.media__row{
	margin-top:72px;
	
}
.media__img-1{
	width:400px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	
}
.media__card__container{
	display:flex;
	justify-content:center;
	align-item:center;

}

.media__content-wrapper{

	background-color:var(--secondary-white);
	width:500px;
	padding:24px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.media__card__title{
	font-family: "Playfair Display", serif;
	font-size:1.8rem;
	text-decoration:underline;
	font-weight:600;
	color:var(--accent-2);
	cursor:pointer;
}
.media__card__p{
	margin-top:14px;
	font-size:1.6rem;
	color:var(--accent-2);
}
.media__cta {
    padding: 12px 24px;
    background-color: #c59a49; 
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
	margin-top:8px;
}

.media__cta:hover {
    background-color: #8e762e;
}
/* app showcase */
#app-showcase {
    background-color: var(--secondary-light);
    padding: 72px 0;
}
.app-showcase__download{
	background-color:var(--primary-black);
	border-radius:12px;
	padding:40px;
}
.app-showcase__col{
	padding:0 217px;
}
.app-showcase__title{
	color:var(--secondary-white);
	font-size:3.2rem;
	font-weight:bold;
}
.app-showcase__p{
	color:var(--secondary-white);
	margin-top:16px;
	font-size:1.6rem;
}
.app-showcase__google{
	width:150px;
	margin-top:24px;
	cursor:pointer;
}

#footer{
    padding-top: 72px;
	padding-bottom:32px;
	position:relative;
	overflow:hidden;
}

.footer__overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;

}

.footer__bg-img {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	z-index:8;
	height:100%;
	width:100%;
	object-fit:cover;
}

.footer__header{
	display:flex;
	justify-content:center;
	position:relative;
    z-index: 100;

}
.footer__contact-us{
	color:var(--secondary-white);
	font-size:3rem;
	font-weight:600;
}
.footer__card-wrapper {
    position: relative;
    padding-top: 40px; 
	height:100%;
}

.footer__circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: var(--secondary-white);
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.footer__circle i {
    font-size: 1.8rem;
    color: black;
}

.footer__card {
    background-color: var(--secondary-white);
    padding: 24px;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.footer__card__text {
    font-size: 1.4rem;
    text-align: center;
}

.footer__row {
    padding: 0 217px;
	padding-bottom:48px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center; 
}


.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 1.4rem; 
    transition: background-color 0.3s ease, color 0.3s ease;
}


.social-icon--active {
    background-color: #c59a49; 
    border: none;
}

.social-icon:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #c59a49; 
    border-color: #c59a49;
}
.footer__copyright{
	color:var(--secondary-white);
	font-size:1.6rem;
	text-align:center;
	margin-top:52px;
}


@media (max-width: 992px) {
	#home{
		height:auto;
	}

	.home-section{
		display:block;
		width: 100%;
		height:85%;
		padding:72px 0;

	}
	.home-section__p{
		text-align:center;
	}
	.home-section__row{
		gap:100px;
	}
	.about-us__row{
		gap:100px;
	}
	.media__card__container{
		display:flex;
		flex-direction:column;
		align-items:center;
		
	
	}
	.media__img-1{
		width:500px;
	}
	.app-showcase__col{
		padding:0 24px;
	}
	.footer__row {
		padding: 0 24px;
	}
	.social-icon {
		margin-top:48px;
	}
	
	
}
